h1 {
  font-size: 28px;
  font-weight: 500;
}
.edit-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container {
  display: flex;
  width: 460px;
  justify-content: space-around;
  margin-bottom: 10px;
}
.input-container > input {
  height: 45px;
  width: 200px;
  border: 1px solid rgb(142, 159, 199);
  border-radius: 5px;
  padding-left: 10px;
  color: rgb(142, 159, 199);
}
.button-container {
  display: flex;
  justify-content: space-around;
  width: 260px;
}
.button-container > button {
  width: 110px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #7651e3;
  border-radius: 5px;
  color: #7651e3;
}
